<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">

<div id="topnav">
  <nav id="navBar" class="w3-bar w3-card">
    <a href="#home" class="w3-bar-item w3-button w3-wide"><b>Home</b></a>
    <a href="#about" class="w3-bar-item w3-button w3-wide"><b>About</b></a>
    <a href="#contact" class="w3-bar-item w3-button w3-wide"><b>Contact</b></a>
  </nav>
</div><!-- fragment topnav -->
